@using Sitecore.Mvc
@model RenderingModel
@{

}

<div class="row">
    @Html.Sitecore().DynamicPlaceholder("featureSpot", CreateDivWrap, GetNumberOfEventsPerRow(), 4)
</div>

@functions
{
    int _numberOfEventsPerRowDefault = 3;

    TagBuilder CreateDivWrap(DynamicPlaceholderRenderContext context)
    {
        var tagBuilder = new TagBuilder("div");
        int[] widths = new int[] { 0, 12, 6, 4, 3 };
        tagBuilder.AddCssClass("col-sm-" + widths[GetNumberOfEventsPerRow()]);
        return tagBuilder;
    }

    int GetNumberOfEventsPerRow()
    {
        //if (int.TryParse(Model.Rendering.Parameters["NumberOfEventsPerRow"], out var numberOfEventsPerRow))
        //    return numberOfEventsPerRow;

        if (Model.Rendering.Parameters["NumberOfEventsPerRow"] == null) return _numberOfEventsPerRowDefault;

        return int.Parse(Model.Rendering.Parameters["NumberOfEventsPerRow"]);
    }
}